* {
    box-sizing: border-box;
}

.caja {
  height: 100px;
  margin: 100px;
  text-align: center;
}

ul.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

/*Estilo para los enlaces del menú*/
ul.menu li a {
  display: block;
  color: #fdf9f9f4;
  padding: 14px 16px;
  text-decoration: none;
}

/* Cambar el color al pasar el mouse por encima */
ul.menu li a:hover {
  background-color: #dddddd;
  color: black;
}

/*Titulo y subtitulo*/
h2 {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 8px;
}

.subtitulo {
    margin: 0 0 8px;
    font-size: 14px;
}

/* Imágenes falsas */

.imagen {
    width: 100%;
    height: 200px;
    background-color: #aaa;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px;
    font-size: 14px;
}

/* -------------------------
   CONTENIDO
------------------------- */

main {
    width: 920px;

    margin: 40px auto;

    display: flex;

    gap: 50px;
}


/* COLUMNA IZQUIERDA */

.about {
    width: 293px;
}


/* COLUMNA DERECHA */

.contenido {
    width: 617px;
}

.imagen-grande {
    height: 200px;
}

.about p:last-child,
.contenido p:last-child {
    margin-top: 4px;
}
